# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Frontend (front) ---
# Dependencias
frontend/facturacionSRI/node_modules
frontend/facturacionSRI/src/firebaseConfig.js

# Entorno virtual específico que mencionaste
backend/env
backend/core/firebase-credentials.json
backend/core/settings.py
